<div id="menu">
    <div class="menu">
        <li>
            <a href="">
                <mat-icon>home</mat-icon>Home
            </a>
        </li>
        <li>
            <a href="">
                <mat-icon>flight</mat-icon>Flights
            </a>
        </li>
        <li>
            <a href="">
                <mat-icon>bookmark</mat-icon>Bookmarks
            </a>
        </li>
        <li>
            <a href="">
                <mat-icon>pie_chart</mat-icon>Synthesis
            </a>
        </li>
        <li>
            <a href="">
                <mat-icon>contacts</mat-icon>Contact
            </a>
        </li>
        <li>
            <a href="">
                <mat-icon>help</mat-icon>Help
            </a>
        </li>
        <li>
            <a href="">
                <mat-icon>power_settings_new</mat-icon>Sign out
            </a>
        </li>
    </div>
</div>
