<div class="paginator">
    <mat-paginator #paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
<div class="mat-elevation-z8" id="flights" matSort>
    <table mat-table [dataSource]="flights">
        <ng-container matColumnDef="idFlight">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>No.</th>
            <td mat-cell *matCellDef="let flight">{{flight.idFlight}}</td>
        </ng-container>
        <ng-container matColumnDef="companyName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Company</th>
            <td mat-cell *matCellDef="let flight">{{flight.companyName}}</td>
        </ng-container>
        <ng-container matColumnDef="flightType">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Flight type</th>
            <td mat-cell *matCellDef="let flight">{{flight.flightType}}</td>
        </ng-container>
        <ng-container matColumnDef="travelType">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Travel type</th>
            <td mat-cell *matCellDef="let flight">{{flight.travelType}}</td>
        </ng-container>
        <ng-container matColumnDef="departureLocation">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Departure location</th>
            <td mat-cell *matCellDef="let flight">{{flight.departureLocation}}</td>
        </ng-container>
        <ng-container matColumnDef="arrivalLocation">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Arrival location</th>
            <td mat-cell *matCellDef="let flight">{{flight.arrivalLocation}}</td>
        </ng-container>
        <ng-container matColumnDef="departureDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Departure date</th>
            <td mat-cell *matCellDef="let flight">{{flight.departureDate | date: 'MM/dd/yyyy'}}</td>
        </ng-container>
        <!-- <ng-container matColumnDef="departureTime">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Departure time</th>
            <td mat-cell *matCellDef="let flight">{{flight.departureTime}}</td>
        </ng-container> -->
        <ng-container matColumnDef="arrivalDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Arrival date</th>
            <td mat-cell *matCellDef="let flight">{{flight.arrivalDate | date: 'MM/dd/yyyy'}}</td>
        </ng-container>
        <ng-container matColumnDef="backDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Back date</th>
            <td mat-cell *matCellDef="let flight">{{flight.backDate | date: 'MM/dd/yyyy'}}</td>
        </ng-container>
        <!-- <ng-container matColumnDef="arrivalTime">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Arrival time</th>
            <td mat-cell *matCellDef="let flight">{{flight.arrivalTime}}</td>
        </ng-container>
        <ng-container matColumnDef="backTime">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Back time</th>
            <td mat-cell *matCellDef="let flight">{{flight.backTime}}</td>
        </ng-container> -->
        <ng-container matColumnDef="flightDuration">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Flight duration</th>
            <td mat-cell *matCellDef="let flight">{{flight.flightDuration | date: 'MM/dd/yyyy'}}</td>
        </ng-container>
        <ng-container matColumnDef="connectionDuration">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Connection duration</th>
            <td mat-cell *matCellDef="let flight">{{flight.connectionDuration | date: 'MM/dd/yyyy'}}</td>
        </ng-container>
        <ng-container matColumnDef="aircraftType">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Aircraft Type</th>
            <td mat-cell *matCellDef="let flight">{{flight.aircraftType}}</td>
        </ng-container>
        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Select</th>
            <td mat-cell *matCellDef="let flight">
                <mat-checkbox></mat-checkbox>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displaydColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displaydColumns;"></tr>
    </table>
</div>
